
image: weaveworks/policy-agent
imageTag: v2.5.0
failurePolicy: Fail

# If you don't want to use cert-manager, set useCertManager to false and provide your own certs
useCertManager: true
certificate: ""
key: ""
caCertificate: ""

# exclude namespaces by admission controller
# If not set, The policy agent will exclude only it's namespace ({{.Release.Namespace}})
excludeNamespaces:
# - policy-system
# - flux-system
# - kube-system

persistence:
  enabled: false
  # claimStorage: 1Gi
  # storageClassName: standard

config:
  accountId: ""
  clusterId: ""
  admission:
    # mutate: true // enable mutation policies
    enabled: true
    sinks:
      k8sEventsSink:
        enabled: true
  audit:
    enabled: false
